@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('./IRANSans/eot/IRANSansWeb.eot');
	src: url('./IRANSans/eot/IRANSansWeb.eot?#iefix')
			format('embedded-opentype'),
		url('./IRANSans/woff2/IRANSansWeb.woff2') format('woff2'),
		url('./IRANSans/woff/IRANSansWeb.woff') format('woff'),
		url('./IRANSans/ttf/IRANSansWeb.ttf') format('truetype');
	font-display: fallback;
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 400;
	src: url('./IRANSans/eot/IRANSansWeb_Medium.eot');
	src: url('./IRANSans/eot/IRANSansWeb_Medium.eot?#iefix')
			format('embedded-opentype'),
		url('./IRANSans/woff2/IRANSansWeb_Medium.woff2') format('woff2'),
		url('./IRANSans/woff/IRANSansWeb_Medium.woff') format('woff'),
		url('./IRANSans/ttf/IRANSansWeb_Medium.ttf') format('truetype');
	font-display: fallback;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: url('./opensans/ttf/OpenSansRegular.ttf') format('truetype');
	font-display: fallback;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('./opensans/ttf/OpenSansSemiBold.ttf') format('truetype');
	font-display: fallback;
}
